<div class="main">
  <h2>基本情報</h2>
  <h2>ルーム情報登録</h2>

  <%= form_with model: @room do |f| %>
    <table>
      <tr>
        <th><%= f.label :name ,"ルーム名" %></th>
        <td><%= f.text_field :name, placeholder: "ルーム名を入力" %></td>
      </tr>
      <tr>
        <th><%= f.label :introduction ,"ルーム紹介" %></th>
        <td><%= f.text_area :introduction, placeholder: "ルーム説明を入力" %></td>
      </tr>
      <tr>
        <th><%= f.label :price ,"料金" %></th>
        <td><%= f.text_field :price, placeholder: "1日あたりの料金を入力" %></td>
      </tr>
      <tr>
        <th><%= f.label :address ,"住所" %></th>
        <td><%= f.text_field :address, placeholder: "住所を入力" %></td>
      </tr>
      <tr>
        <th><%= f.label :img_name ,"ルーム画像" %></th>
        <td><%= f.file_field :img_name, placeholder: "選択されていません" %></td>
      </tr>
      <tr>
        <th>
          <%= f.submit "登録" %>
        </th>
      </tr>
    </table>
  <% end %>
</div>
