

  <div>
    <% @addresses.each do |address| %>
      <%= link_to room_path(address) do %>
        <div>
          <% if address.img_name? %>
            <%= image_tag address.img_name.url, :size => '200x100', class: 'img' %>
          <% else %>
            <%= image_tag "/assets/rails2.jpeg", :size => '200x100' %>
          <% end %>
          <%= address.name %>
          <%= address.address %>
        </div>
      <% end %>
    <% end %>
  </div>


