<!DOCTYPE html>
<html>
  <head>
    <title>Poteshare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left">
        <a href="/" class="headerlogo"><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt="ヘッダーロゴ"></a>
        <form action="" class="header-input">
          <input type="text">
          <input type="text">
        </form>
      </div>
      <div>
        <div>a</div>
        <div>
          <img src="" alt="">
        </div>
      </div>
      <nav>
        <ul class="menu">
          <li><%= link_to "ルーム登録", new_room_path %></li>
          <li><a href="">予約済みルーム一覧</a></li>
          <li><%= link_to "登録済みルーム一覧", rooms_path %></li>
          <li><a href="">設定</a></li>
          <li><a href="">ログアウト</a></li>
        </ul>
      </nav>
    </header>
    <div class="yield">
      <%= yield %>
    </div>

    <footer>
      <p>&copy; 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
